<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="slm_erpConn" connectionString="skl1kKgFLhOkGmGIkIT5AZ5RyGClFlR40QjRZZFG1EwLr9fxiMHhldhwIsPtRf16pIl/+uR4T4S+Tiq2Q91fyuLkCXZts38mbM+nA9hu6H4="/>
    <add name="bobcatConn" connectionString="rs9Rmt2ZMLJ80jVESUJA8iA2LKYz/8tfzZvibfL45iVgHzpyaUm5tPpQCNg1EtKMTSHCy9nMPX6kSHkIxRWrj0VBF05jtuuB87PYcOXt8Q+BkT9MQyAD+ixFq+DKrJlKfmywdJK1ttNlgx8nSpQ/6QL1n1p13IHPWZX50FCeqtX4uR8gZ6lwoTApTd7CWBmGvUisecMvInAsn64RdirRlpoBtQM4o5dHMiZ7BOGDearU8HwY7dJKQ31gURnVEjsTVJKd5OJqWb8TzOfQtlyD1CnzhL15wzVd"/>
    <add name="DSCSYS_SLMConn" connectionString="skl1kKgFLhOkGmGIkIT5AZ5RyGClFlR4XsLgTxqMVhfVYErLUNTRj6nU66sESDSQOVHz3T/x+YR9r0OlIT+Tag=="/>
  </connectionStrings>
</configuration>
